.git1/*
/node_modules
/public/hot
/public/storage/
/storage/*.key
/vendor
.env
.env.backup
composer.lock
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.gitlab-ci.yml
.vscode/settings.json
u101806666_infruity.sql
testing_18_juni_2026.md
.ai/
u101806666_clone_infruity.sql
.gitignore
AGENTS.md
fake-google-creds.json
